

.tam{
    font-size: 140%;
    letter-spacing:0.80em;
    margin: 30px 30px;
     font-weight: 300;
     
   
}

.fondo{

    background: rgb(85, 219, 23);
    width: 100% ;
    height: 100% ;
    margin: 10px 10px;
}