

.tam{
    font-size: 140%;
    letter-spacing:0.80em;
    margin: 30px 30px;
     font-weight: 300;
     float: left;
     width: 400px;
   
}


.fondo{

    background: rgb(85, 219, 23);
    width: 100% ;
    height: 100% ;
    margin: 10px 10px;
}

#contenedor {
    
    float: left;
    width: 804px;
    background: rgb(110, 124, 110) ;
    }
    
   .listapalabras{
    
letter-spacing:0.80em;
    margin: 30px 30px;
  
}

li{
    
 
    padding: 2px;
  
}
   
    
  .div2{
      margin-left: 800px;
  }

    