

.def{
    width: 250px;
    height: 240px;
    border: 5px solid black;
    margin: 28px;
    padding: 5px;
    float: left;
    background-color: rgb(207, 194, 6);
}
 
.principal{
    background-color: rgba(4, 18, 94, 0.918);

 }

 h3{
    background: rgba(0, 0, 0, 0.178) ;
}

p:hover{
    width: 250px; 
  height: 50px; 
    font-weight: bold;
  
        color: #c00707;
        text-decoration: darkgoldenrod  ;
       } 


body{
    margin: 0;
}
video{
    position: fixed;
min-width: 100%;
min-height: 100%;

top: 50%;
left: 50%;
transform : translateX(-50%)    translateY(-50%);
z-index: -1;
}